<div
  class="bg-indigo-800 grid grid-cols-10 content-center select-none overflow-clip h-[8vh] w-screen min-h-0 min-w-0 sticky top-0">

  <svg class="max-w-full max-h-full aspect-square shadow-black drop-shadow-2xl rounded-full m-auto"
    (click)="ConnectionStateService.toggleConnectionState()"
    [ngClass]="(connectionStatus == ConnectionStateService.connectionStates.connected)?'fill-green-400':'connectionStatusIconDisconnected'">
    <circle cx="50%" cy="50%" r="30%" />
  </svg>
  <p class="text-center text-4xl text-gray-100/50 font-semibold font-mono col-span-2 ml-0 mr-auto h-fit my-auto w-fit ">
    {{(connectionStatus)}}
  </p>
  <div class="col-span-4  w-full h-full flex items-center">
    <input class="w-[70%] rounded h-[60%] bg-gray-100 pl-6 text-bold font-mono text-2xl my-auto  mr-6" type=" text" />
    <input type="button" value="search for registers" class="default-button  text-bold text-2xl text-white " />
  </div>
  <p class="mx-auto text-4xl text-gray-100/50 font-semibold text-center font-mono col-span-2  h-fit my-auto w-fit ">
    {{(deviceName)?deviceName:"no svd loaded, load one in settings -->"}}</p>
  <img src="../../assets/settingsIcon.svg" draggable="false" alt="config" (click)="settingsClickHandler()"
    class="col-start-10 h-[6vh] select-none aspect-square mr-auto ml-10 my-auto active:bg-gray-200/30 active:duration-0 bg-transparent hover:rotate-90 hover:bg-gray-200/10 rounded-full transition duration-300">
</div>
@if(settingsVisible){
<div id="settings" (click)="settingsUnfocusClickHandler()"
  class="w-[100wh] flex justify-center flex-col h-[100vh] z-10 bg-white/20">
  <div (click)="stopPropagationOnClick($event)"
    class="p-4 border-4 bg-indigo-400/30 mx-auto  grid grid-rows-8 grid-cols-1 border-indigo-400 rounded-lg h-2/3 w-1/3">
    <p class="boldGrayText-lg text-4xl text-center mx-auto mt-8">Settings</p>
    <div class="w-full pollingRateScrollbar row-span-2 grid grid-cols-3 justify-between">

      <p class="boldGrayText-lg text-center text-2xl my-auto pl-5 ">Polling Rate<br>(Seconds)</p>
      <div class="col-span-2 pollingRateScrollbar flex flex-col row-span-1 snap-y overflow-scroll overflow-x-hidden">
        @for(eachPR of allowedPollingRates;track eachPR){
        <div
          class="grid  grid-rows-1 h-[4vh] min-h-[4vh] grid-cols-3 snap-start select-none bg-indigo-400/60 hover:bg-indigo-400 "
          [ngClass]="{'bg-indigo-500/70':activePollingSelectionCallback(eachPR)}"
          (click)="pollingRateClickHandler(eachPR)">

          <p class="w-full my-auto text-lg col-span-2 text-center  font-bold ">
            {{eachPR}}</p>
          @if(eachPR == selectedPollingRate){
          <img src="../../assets/check-mark.svg"
            class="aspect-square p-[1vh] select-none row-span-1 col-span-1 max-h-full max-w-full" draggable="false"
            alt="selected">

          }
          @else{
          <p></p>
          }
        </div>
        }
      </div>
    </div>
    <div id="svd upload" class="row-span-2 grid grid-cols-2 justify-center grid-rows-1 ">
      <div class="my-auto h-fit">
        @if(this.SvdParserService.currentLoadedFile == "No file Loaded"){

        <p class="text-xl my-auto h-fit text-center w-full">Upload an SVD file</p>
        } @else{
        <p class="text-xl my-auto h-fit text-center w-full">Currently loaded File:</p>
        }

        <p class="text-lg my-auto h-fit text-center text-gray-500/80">{{this.SvdParserService.currentLoadedFile}}</p>

      </div>



      <input type="file" id="myFile" name="filename" (change)="onFileSelected($event)" class="hidden">
      <label for="myFile" class="default-button my-auto ml-auto">Upload SVD</label>

    </div>
  </div>
</div>
}
